table {
  width: 100vw;
}

th, td {
  padding: 5px;
}

th {
  height: 30px;
  background-color: lightblue;
}

.centerAlign{
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f1f1f1f1;
}
